.grid-container {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(16, auto);
  background-color: #2196F3;
  margin: auto;

}

.cell {
    background-color: lightblue;
    border: 0.1px solid black;

}
.colored {
  background-color: grey;
}